@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

:root {
    --brown: #881337;
    --green: #FEF9C3;
    --background: #FFEDD5;
}

/* body */
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
}
nav{
    padding: 0px;
    width: 100%;
    text-align: center;
    top: fixed;
}
article{
    float:left;
    margin-right:20px;
    width:80%;
}
aside{
    float:left;
    width:calc(20% - 140px);
}

/* alignment  */
.alignment {
    background-color: var(--brown);
    color: var(--green);
    padding: 4rem;
    margin: 0rem ;
    /* text-align: center; */
    /* font-size: larger; */
    font-family: 'Tourney', cursive;
}
a{color:var(--green);
    text-decoration: none;}

/* header or image */
header {
    display: block;
}

img {
    width: 250px;
    padding-top: 2rem;
    /* padding: 5rem; */
    max-width: 350px;
    display: block;
    margin: auto;
    /* border:  solid black; */
}

/* main translation component */
main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
    display: block;
}

section {
    display: block;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 18vh;
    max-height: 20vh;
    font-size: larger;
    display: block;
    /* margin: 2rem;
    padding: 2rem; */
    align-items: center;
    overflow: scroll;
    text-align: center;
}

div {
    display: block;
}

strong {
    font-weight: bold;
    font-size: larger;
}

button {
    color: var(--green);
    background-color: var(--brown);
    align-items: center;
    border: none;
    margin: 1rem 1rem;
    padding: 1rem;
    font-size: medium;
}

#output {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 18vh;
    max-height: 20vh;
    overflow: scroll;
    width: 100%;
}

/* footer */
footer {
    bottom: 0px;
    width: 100%;
    padding: 0.5rem;
    text-align: center;

}

footer p {
    margin: auto;
}