@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
:root {
    --brown: #881337;
    --green: #FEF9C3;
    --background: #FFEDD5;
}
*{
    box-sizing: border-box;
}

/* body */
body {
    margin: 0px;
    background-color: var(--background);
}

.li{display: inline;}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* alignment  */
.alignment {
    background-color: var(--brown);
    color: var(--green);
    padding: 1rem;
    text-align: center;
    font-family: 'Tourney', cursive;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

a{color:var(--green);
    text-decoration: none;}

a h1{
    font-size: x-large;
}

/* header or image */
header {
    display: block;
    padding: 2rem;
}

img {
    width: 250px;
    padding-top: 1rem;
    max-width: 350px;
    display: block;
    margin: auto;
}

/* main translation component */
main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
    display: block;
}

section {
    display: block;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 18vh;
    max-height: 20vh;
    font-size: larger;
    display: block;
    align-items: center;
    overflow: scroll;
    text-align: center;
}

div {
    display: block;
}

strong {
    font-weight: bold;
    font-size: larger;
}

button {
    color: var(--green);
    background-color: var(--brown);
    align-items: center;
    border: none;
    margin: 1rem 1rem;
    padding: 1rem;
    font-size: medium;
}

#output {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 18vh;
    max-height: 20vh;
    overflow: scroll;
    width: 100%;
}

/* footer */
footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;

}

footer p {
    margin: auto;
}